<%- include('layout', { body: `
    <div class="main-page">
        <h2>Ласкаво просимо до Системи Управління СТО</h2>
        <div class="menu">
            <a href="/employees" class="menu-item">Переглянути робітників</a>
            <a href="/orders" class="menu-item">Переглянути всі замовлення</a>
            <a href="/detailed-orders" class="menu-item">Детальні замовлення</a>
            <a href="/total-price" class="menu-item">Загальна ціна замовлень</a>
        </div>
    </div>
` }) %>
